* {
    height: auto;
    /*font-family: cursive;*/
}
html,
body,
#container {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

summary {
    cursor: pointer;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.orgPopup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    color: black;
}

.orgPopup .code-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.orgPopup .code-info .code {
    font-weight: 700;
}

.orgPropsText {
    width: 100%;
    display: flex;
    align-items: center;
}
.orgProps {
    display: grid;
}

.orgProps a {
    text-decoration: none;
    color: rgb(24, 97, 194);
    font-weight: 600;
    margin: auto;
}

.orgPropsGorpit {
    font-size: 12px;
}

.orgPropsContainer {
    display: flex;
}

.orgPropsMastery {
    display: flex;
    flex-direction: column;
}

.orgProps div {
    margin: 5px;
}

.orgProps img {
    width: 50px;
    height: 50px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
}

.contacts .email-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.contacts .email-info .email {
    font-weight: 700;
}